.card {
    margin-bottom: 20px;
    border: 1px solid;
    box-shadow: 2px 2px 4px gray;
    width: 250px;
}

.title {
    font-weight: 400;
    font-size: 25px;
    padding: 5px;
}

.status {
    padding: 3px;
}

.waiting {
    background-color: #e53935;
}

.working {
    background-color: #80cbc4;
}

.completed {
    background-color: #42a5f5;
}

.pending {
    background-color: #ffee58;
}

.body {
    margin: 5px;
}

.action {
    margin: 5px;
}
